body, h1, h2 {
    font-family: 'Slabo 27px', serif;
}

.caret {
    margin-left: 5px !important;
}

hr {
    border-color: #666;
    }

#joinGame {
    width:100px;
    margin-right:13px;
}
.mana_bar {
    background-color: #5087C6;
}
.hp_bar {
    background-color: #EE5F5B;
}
.userID {
    width:40px;
}
.userNick {
    width:163px;
    margin-left:3px;
}
.readyButton {
    width: 100px;
}

.class-choose {
    margin-left:95px;
    border-radius:0px;
}
.btn {
    border-radius: 0px;
}  