@media (max-width: 2000px) {
    #classImg {
        height:60px;
    }
    #infoName {
        margin-left:70px;
        margin-top: -40px;
    }
}

@media (max-width: 992px) {
    #classImg {
        height:60px;
    }
    #infoName {
        margin-left:70px;
        margin-top: -40px;
    }
}

@media (max-width: 767px) {
    #classImg {
        height:70px;
        padding-bottom:20px;
    }

    #infoName {
        margin-left:0px;
        margin-top:-15px;
    }

}
body, h1, h2 {
    font-family: 'Slabo 27px', serif;
}

.caret {
    margin-left: 5px !important;
}

hr {
    border-color: #666;
    }

#joinGame {
    width:100px;
    margin-right:13px;
}
.mana_bar {
    background-color: #5087C6;
}
.hp_bar {
    background-color: #EE5F5B;
}

.btn-group-vertical .btn {
    margin-bottom:20px;
}

.userID {
    width:170px;
    height:30px;
}





.userNick {
    width:170px;
    height:30px;
}
.readyButton {
    width: 100px;
}

.class-choose {
    margin-left:95px;
    border-radius:0px;
}
.btn {
    border-radius: 0px;
}  