<img src="{{ url_for('static', filename='images/boss/head/' + head) }}" class="head">
<img src="{{ url_for('static', filename='images/boss/leftarm/' + leftarm) }}" class="leftArm">
<img src="{{ url_for('static', filename='images/boss/torso/' + torso) }}" class="torso">
<img src="{{ url_for('static', filename='images/boss/rightarm/' + rightarm) }}" class="rightArm">
<img src="{{ url_for('static', filename='images/boss/legs/' + legs) }}" class="legs">
<img src="{{ url_for('static', filename='images/boss/weapon/' + weapon) }}" class="weapon">