<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Host game</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/host/custom.css') }}" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>

<img class="attackImg" id="swipe" src="/static/images/boss/attack/swipe.png" style="display:none">
<img class="attackImg" id="slash" src="/static/images/boss/attack/slash.png" style="display:none">

<div id="main">
    <div id="mainContainer" class="container initial">
        <div id="headerArea">
            <div class="page-header">
            <center><h1>Random Dungeon Crawler</h1><h3>Go to: <span id="joinUrl" class="text-danger"></span> on your mobile phone to join</h3></center>
                </div>
            <center style="margin-top:10px;margin-bottom:10px"><h1 class="text-danger">Game ID: <span id="gameID"></span></h1></center>
        </div>
        <div id="content" class="row">

            <div id="PreGameScreen" class="container">
                <div class="col-md-4 dps">
                    <div class="row">
                        <div class="col-md-4 ">
                            <img src="../../static/images/icons/ic_dps.png" class="classicon" />
                        </div>
                        <div class="col-md-8">
                            <h1>DPS</h1>
                        </div>
                        <div class="col-md-12">
                            <div id="dpsdesc" class="roledesc">
							<div class="roledescText">Your job is to deal as much damage to the enemy as possible.</div>
								<span class="actionslistheader">Actions:</span>
								<ul class="actionslist">
									<li>
										<span class="actionheader">Melee Attack</span>
										<span class="actiondesc">You deal a heavy blow to the enemy from close range.</span>
									</li>
									<li>
										<span class="actionheader">Ranged Attack</span>
										<span class="actiondesc">You deal moderate damage to the enemy from a distance.</span>
									</li>
									<li>
										<span class="actionheader">Boost Attack</span>
										<span class="actiondesc">You boost your own damage for the next few rounds.</span>
									</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 tanks">
                    <div class="row">
                        <div class="col-md-4">
                                <img src="../../static/images/icons/ic_tank.png" class="classicon" />
                            </div>
                        <div class="col-md-8">
                            <h1>Tank</h1>
                        </div>
                        <div class="col-md-12">
                            <div id="tankdesc" class="roledesc">
                                <div class="roledescText">Your job is to control the enemy and damage done to your group.</div>
                                <span class="actionslistheader">Actions:</span>
                                <ul class="actionslist">
                                    <li>
                                        <span class="actionheader">Taunt</span>
                                        <span class="actiondesc">You attempt to force the enemy to focus on you rather than your allies.</span>
                                    </li>
                                    <li>
                                        <span class="actionheader">Guard</span>
                                        <span class="actiondesc">You attempt to shield your allies from a portion of the incoming damage.</span>
                                    </li>
                                    <li>
                                        <span class="actionheader">Boost Defense</span>
                                        <span class="actiondesc">You boost your own defense for the next few rounds.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 healers">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='images/icons/ic_heal.png')}}" class="classicon" />
                        </div>
                        <div class="col-md-8">
                            <h1>Healer</h1>
                        </div>
                        <div id="healerdesc" class="col-md-12">
                            <div class="roledescText">Your job is to keep the group alive with powerful healing spells.</div>
							<span class="actionslistheader">Actions:</span>
							<ul class="actionslist">
								<li>
									<span class="actionheader">Focused Heal</span>
									<span class="actiondesc">You heal the tanks for a moderate amount of damage.</span>
								</li>
								<li>
									<span class="actionheader">Group Heal</span>
									<span class="actiondesc">You heal the entire group for a low amount of damage each.</span>
								</li>
								<li>
									<span class="actionheader">Recover Mana</span>
									<span class="actiondesc">You recover a portion of your mana.</span>
								</li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="QuestBackgroundScreen" class="textboxes">
                <h2 id="questTitle"></h2>
                <p id="questText"></p>
            </div>
			
			
				<div id="RandEventScreen" class="textboxes">
					<div class="row">
						<div class="col-md-4"><img class="eventimg" src="" /></div>
						<div class="col-md-8"><h2 id="randTitle"></h2><p id="randText"></p></div>
					</div>
				</div>

            <div id="BossStoryScreen" class="textboxes">
                <h1>You Encountered <span id="bossTitle"></span>!</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p id="bossText"></p>
                    </div>
                    <div class="col-md-6">
                        <div class="boss-container">
                            <img class="leftarm animarms" src="" />
                            <img class="legs" src="" />
                            <img class="rightarm animarms" src="" />
                            <img class="weapon animarms" src="" />
                            <img class="head" src="" />
                            <img class="torso animbody" src="" />
                        </div>
                    </div>
                </div>

            </div>


            <div id="RoundScreen" class="textboxes">
                <h1>The Fight is On!<span id="round"></span>!</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            Enemy HP:
                        </div>
                        <div class="col-md-8">
                            <div class="progress hp">
                                <div class="progress-bar hp_bar" role="progressbar"  style="width: 100%;">
                                100%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p id="roundText"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="boss-container">
                            <img class="leftarm animarms" src="" />
                            <img class="legs" src="" />
                            <img class="rightarm animarms" src="" />
                            <img class="weapon animarms" src="" />
                            <img class="head" src="" />
                            <img class="torso animbody" src="" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="RoundResultScreen" class="textboxes">
                <h1>A small break in fighting</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            Enemy HP:
                        </div>
                        <div class="col-md-8">
                            <div class="progress hp">
                                <div class="progress-bar hp_bar" role="progressbar"  style="width: 100%;">
                                100%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p id="roundResultText"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="boss-container">
                            <img class="leftarm animarms" src="" />
                            <img class="legs" src="" />
                            <img class="rightarm animarms" src="" />
                            <img class="weapon animarms" src="" />
                            <img class="head" src="" />
                            <img class="torso animbody" src="" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="VictoryScreen" class="container">
                <img src="/static/images/frame_win.png" style="width: 100%; padding: 200px; margin-top: -100px;">
            </div>

            <div id="DeathScreen" class="container">
                <img src="/static/images/frame_die.png" style="width: 100%; padding: 200px; margin-top: -100px;">
            </div>

        </div>
        <div id="playerStatus" class="row lowerHalf">
            <span id="pStatusHeader">Active Players:</span>
            <div id="playerList" class="container">


            </div>
        </div>
    </div>
</div>


<div id="countdownTimer">
    <span>10</span>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../../static/js/host/knockout-3.2.0.js"></script>
<script src="../../static/js/host/sammy-0.7.6.min.js"></script>
<script src="../../static/js/host/host.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>
