<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Host game</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/host/host.js') }}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container initial">
        <center><h1>TBA, join link: {{ url_for('join') }}</h1></center>
        <hr />
        <div class="col-md-4 dps">
            <h1>DPS</h1>
            <p>* List of players with role *</p>
        </div>
        <div class="col-md-4 tanks">
            <h2>Tank</h2>
            <p>* List of players with role *</p>
        </div>
        <div class="col-md-4 healers">
            <h2>Healer</h2>
            <p>* List of players with role *</p>
        </div>
        <center style="margin-top:50px;"><p>Game ID: <span id="gameID"></span></p></center>
    </div>
  </body>
</html>