body, h1, h2, h3, h4 {
    font-family: 'Slabo 27px', serif;
}
.dps, .healers, .tanks {
    min-height: 100% !important;
}

body {
    background-image: url("/static/images/stages/bg_cave_blur_10.jpg");
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.eventimg {
    vertical-align: middle;
    display: inline;
    height: 50%;
    width: 50%;
}

.hp_bar {
    background-color: #EE5F5B;
}

.col-md-7 h1 {
    margin-left: -15px
    
}

#questText, #randText, #bossText {
    font-size: 20px;
}
#questTitle, #randTitle, #bossTitle {
    font-size: 24;
    font-weight: bold;
}

.roledescText {
    padding-bottom: 2%;
    font-size:16px;
    margin-bottom:20px;
    
}

.roleimg {
    vertical-align: middle;
    display: inline;
    height: 7.5%;
    width: 7.5%;
}

.roleheader h2 {
    vertical-align: middle;
    display: inline;

}

.actionslist {
    padding-left: 2%;
    padding-right: 2%;
    list-style-type: none;
    font-size: 16px;
}
#PreGameScreen {
    margin-bottom: 20px;
}
#pStatusHeader {
    margin-left:23px;
    font-size: 18px;
    font-weight: bold;
}

.actionheader {
    font-weight: bold;
    font-size: 20px;
}

.actiondesc {
    font-size: 16px;
    padding-left: 1%;
}

#countdownTimer {
    display:none;
	z-index: 999;
}

#countdownTimer span {
    font-size: 1200%;
    position: absolute;
    margin: 20px;
    margin-right:50px;
    bottom: 0;
    right: 0;
	z-index: 999;
}

.actionslistheader {
    font-size: 20px;
    margin-left:10px;
    
}

.statusRoleImg {
    width: 33px;
    height: 33px;
    vertical-align: text-bottom;
}

.playerName {
    font-size: 25px;
}

.boss-container {
    position: fixed;
	z-index: 100;
}

.boss-container img {
    width: 80%;
}

.leftarm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100}
.legs{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70}
.rightarm{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80}
.weapon
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90}
.head {
}

.torso {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60}
	
.animarms{
	animation-name: animarms;
	-webkit-animation-name: animarms;

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes animarms {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(1%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes animarms {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(1%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.animbody{
	animation-name: animbody;
	-webkit-animation-name: animbody;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes animbody {
	0% {
		-webkit-transform: scale(1.01);
		-ms-transform: scale(1.01);
		transform: scale(1.01);
	}
	50% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}	
	100% {
		-webkit-transform: scale(1.01);
		-ms-transform: scale(1.01);
		transform: scale(1.01);
	}			
}

@-webkit-keyframes animbody {
	0% {
		-webkit-transform: scale(1.01);
		-ms-transform: scale(1.01);
		transform: scale(1.01);
	}
	50% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}	
	100% {
		-webkit-transform: scale(1.01);
		-ms-transform: scale(1.01);
		transform: scale(1.01);
	}						
}
